

.client-wrapper {
  padding-top: 20px;
}

.client-list-wrapper {
  justify-content: space;
  margin: 50px;
  padding: 0 50px;
}

.client {
  list-style: none;
}

.client-img {
  width: 166px;
  height: 110px;
  display: inline-block;
  margin-right: 50px;
}
