

.customer-content-wrapper {
  justify-content: space-around;
  width: 100%;
}

.customer {
  width: 100%;
  margin: 0 20px;
  text-align: justify;
}

.customer-testimony {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 30px;
}

.owner {
  font-family: "NunitoSansBold", sans-serif;
  font-size: 16px;
  margin-top: 30px;
}

.owner span {
  opacity: 0.7;
}