

.faq-wrapper{
  padding: 70px 0;
  text-align: left;
}


.question-wrapper {
  width: 800px;
  margin: 0 auto;
}

.question {
  position: relative;
  font-weight: 500;
  font-size: 1.1rem;
}

/*.question::before {
  content: url('/assets/images/icon-ellipse.svg');
  margin-right: 20px;
}

.question::after {
  content: url('/assets/images/icon-plus.svg');
  position: absolute;
  top: 0;
  right: 0;
}*/

.question-wrapper hr {
  margin: 25px 0;
}
