footer {
  font-size: 14px;
  background: #333;

}

.footer-content-wrapper {
  justify-content: space-between;
}

.footer-content-wrapper:nth-child(2) {
  margin-bottom: 25px;
}

.footer-content-list-wrapper {
  width: 25%;
}

.footer-content-title {
  font-family: NunitoSansBold, sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  color: #c4c4c4;
}

.footer-content-list {
  color: #fff;
}

#email {
  outline: none;
  border: none;
  background: 0;
}

#email::placeholder {
  color: #fff;
}

#email::-moz-placeholder {
  color: #fff;
}

.footer-content-list-wrapper hr {
  margin: 25px 0;
}

::-webkit-placeholder {
  color: #fff;
}

.newsletter-btn-wrapper {
  width: 100%;
  text-align: right;
}

.footer-icon-wrapper {
}

.footer-icon-wrapper a {
  display: inline-block;
  width: 45px;
  padding: 9px 0;
  border-radius: 50%;
  color: white;
  margin: 5px 10px;
  text-align: center;
  background-color: rgb(71, 99, 158);
}

.footer-icon-wrapper a:nth-child(2) {
  content: "";
  background-color: #ee4957;
}

.footer-icon-wrapper a:nth-child(3) {
  content: "";
  background-color: #007ab9;
}

.footer-icon-wrapper a:nth-child(4) {
  content: "";
  background-color: #55acee;
}

.fab {
  display: block;
  font-size: 1.5rem;
  vertical-align: text-bottom;
}

.copyright {
  display: inline-block;
  width: 50%;
  font-size: 10px;
  color: #fff;
  vertical-align: top;
  margin: 0;
}

.terms-condition {
  vertical-align: top;
  display: inline;
  font-size: 10px;
  float: right;
}
