.guarantee-wrapper {

  display: flex;
  position: relative;
  background: #f6fbff;
  padding: 70px;
}

.container {
  display: flex;
}

.guarantee-content-wrapper {
  width: 50%;
}

.guarantee-description-wrapper {
  width: 50%;
  float: right;
}


.guarantee-description-wrapper h3 {
  text-align: left;
}

.guarantee-description-wrapper p {
  opacity: 0.5;
  text-align: left;
  font-size: 17px;
}