
body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

* a {
  text-decoration: none;
  color: white;
}

* hr {
  opacity: 0.5;
  margin: 40px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  max-width: 1200px;
  padding: 0 80px;
  margin: 0 auto;
}

.nav-wrapper {
  background-image: linear-gradient(
    45deg,
    rgba(16, 2, 146, 0.9),
    rgba(0, 92, 255, 0.9),
    #007aff
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  position: sticky;
  padding-bottom: 2rem;
  color: white;
  z-index: 3;
}

.sub-nav {
  text-align: right;
  padding: 1.24rem 0;
  padding-left: 1.24rem;
  font-size: 12px;
}

.sub-nav span {
  margin-left: 2rem;
}

.fas {
  margin-right: 8px;
}

.fa-shopping-cart {
  margin-left: 30px;
}

.main-nav {
  width: 100%;
  align-items: center;
  height: 22px;
  font-size: small;
  justify-content: flex-start;
}

.nav-brand-wrapper {
  margin-right: 8rem;
}

.nav {
  opacity: 1%;
}

.navigation {
  justify-content: space-between;
  flex: auto;
  align-items: center;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
}

.login {
  padding: 7px 22px 5px;
  border-radius: 20px;
  border: 1px solid white;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  background-color: blue;
  color: white;
}
