body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

* a {
  text-decoration: none;
  color: white;
}

* hr {
  opacity: 0.5;
  margin: 40px 0;
}

.document-header-wrapper {
  background-image: linear-gradient(
    45deg,
    #00349b,
    rgba(0, 94, 255, 0.922),
    #007aff
  );
  color: white;
  padding-bottom: 30px;
  margin-bottom: 5px;
}

.hero {
  align-items: center;
}

.hero-left {
  width: 45%;
}

.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 30px;
  text-align: left;
}

.hero-description {
  line-height: 25px;
  letter-spacing: 0.05em;
   text-align: left;
}

.hero-left p {
  font-size: 14px;
   text-align: left;
}

.count-down {
  justify-content: flex-start;
   float: left;
}

.count-down p {
  font-size: 10px;


}

.countdown p:nth-child(even) {
  position: relative;
  top: 10px;
  font-size: 30px;
}

.countdown p:nth-child(odd) {
  position: relative;
  margin: 30px;
  font-size: 50px;
}

.countdown p:nth-child(1)::after {
  content: "hari";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.countdown p:nth-child(3)::after {
  content: "jam";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.countdown p:nth-child(5)::after {
  content: "menit";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.countdown p:nth-child(7)::after {
  content: "detik";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.btn-hero {
  margin-top: 3rem;
  text-align: left;
}

.hero-right {
  flex: 50%;
}

.hero-img-wrapper {
  width: 100%;
}

.hero-img {
  width: 100%;
}

.orange {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  background: #fb8c00;
  border: none;
  font-weight: bold;
  text-align: left;
  float: left;
}