.package-wrapper {
  background: #f6fbff;
  padding-top: 10px;
  padding-bottom: 70px;
}

.card-wrapper {
  justify-content: space-between;
  margin-top: 100px;
}

.card-package {
  display: inline-block;
  width: 230px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(17,26,104,.2);
  text-align: center;
  padding: 55px 20px;
  background: #fff;
  margin-left: 15px;
  margin-right: 15px;
  transition: all .4s;
  right: 50px;
  position: relative;

}

.package {
  position: relative;
  height:-moz-fit-content;
  height:-webkit-fit-content;
  height:fit-content;
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
}

.package-label {
  background: #00bfa5;
  font-family: NunitoSansBold,sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  width: 270px;
  top: -120px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 0;
  text-align: center;
  position: relative;
  left: 117px;
  transform: translateX(-50%);
}

.package-name {
  font-weight: 600;
  line-height: 1.2;
  font-family: NunitoSansBold,sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
  position: relative;
  top: -150px;
}

.package-discount{
  font-size: 18px;
  opacity: .7;
  text-decoration: line-through;
}

.visibility-none {
  visibility: hidden;
}

.package-price {
  font-family: NunitoSansBold,sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #007aff;
  margin-bottom: 37px;
  margin-top: -150px;
  padding-right: 24px;
  position: relative;
}

.package-price::after{
  font-size: 14px;
  content: "/bln";
  color: #3a4166;
  opacity: .7;
  position: absolute;
  right: 15px;
  bottom: 8px;
}


.package-feature::before {
  content: url('/asset/image/icon-question-mark.svg');
  margin-right: 5px;
}

.package-feature-detail {
  font-size: 16px;
  color: #007aff;
  margin-top: 30px;
}

.package-description {
  opacity: 0.7;
  display: inline-block;
  margin: 30px 0;
  padding: 0 5px;
  font-size: 12px;
}

.package-feature-wrapper {
  text-align: left;
}

.package-feature {
  width: 100%;
}

.best-seller {
  font-family: NunitoSansBold,sans-serif;
  font-size: 20px;
  color: #fff;
  width: 101.4px;
  border-radius: 8px;
  background: #007aff;
  position: absolute;
  padding: 14px 75px;
  top: -110px;
  right:-.5px;
}

.best-seller::after {
  content: "";
  position: absolute;
  left: 44%;
  border: 16px solid transparent;
  border-top-color: #007aff;
  top: 58px;
}
