
.payment-wrapper {
  padding: 50px 0;
}

.payment-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: NunitoSansBold,sans-serif;
  font-weight: 700;
}

.payment-img-wrapper {
  flex-wrap: wrap;
  margin: 0 100px;
}

.payment-img {
  margin: 10px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: .4;
}