.cost-saving-content-wrapper{
  position: relative;
  left: 54px;
  justify-content: space-between;
}

.cost-saving-feature-wrapper{
  width: 40%;
}

.cost-saving-feature {
  position: relative;
  text-align: left;
}

.cost-saving-description{
  font-size: 16px;
  opacity: 0.7;
}

.cost-saving-wrapper {
  padding: 60px 0 70px;
  background: #f6fbff;
}

.cost-saving-image-wrapper {
  position: relative;
  width: 50%;

}

.cost-titis img {
  z-index: -1;
}

.bb {
  position: absolute;
  top: -10px;
  left: -94px;
}

/*.cost-saving-feature:first-child::before {
  content: url("../src/asset/image/icons-domain-harga-murah.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.cost-saving-feature:nth-child(2)::before {
  content: url("../src/asset/image/icons-website-selalu-online.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.cost-saving-feature:nth-child(3)::before {
  content: url("../src/asset/image/icons-domain-support-andal.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}*/

.cost-woman1-img {
  position: absolute;
  top: 90px;
  left: -10px;
}

.cost-woman2-img {
  position: absolute;
  top: 90px;
  right: -20px;
}

.cost-man-img {
  position: absolute;
  bottom: 10px;
  left: 140px;
}

.cost-intercom-img {
  position: absolute;
  top: -30px;
  left: 90px;
}

.cost-online-img {
  position: absolute;
  bottom: -5px;
  right: 43px;
}
