
.priority-wrapper {
  padding-bottom: 100px;
}

.priority-content-wrapper {
  position: relative;
  left: 54px;
  justify-content: space-between;
  height: 450px;
}



.priority-feature-wrapper
 {
  width: 40%;

}

.priority-feature
{
  position: relative;
  text-align: left;
  left: 3px;
}

.priority-description
 {
  font-size: 16px;
  opacity: 0.7;
}


.image {
  position: absolute;
  top: -10px;
  left: -94px;
}
/*

.priority-feature:first-child::before {
  content: url("..react-project/src/asset/image/hosting-super-cepat.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.priority-feature:nth-child(2)::before {
  content: url("../src/asset/image/domain-keamanan-ekstra.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}*/

.priority-image-wrapper
 {
  position: absolute;
  width: 50%;
  display: inline-block;
}


.priority-server-img {
  position: relative;
  width: 453px;
  height: 256px;

  bottom: 270px;
  left: 130px;

}

.priority-graphic-img {
  position: relative;
  z-index: 2;
  width: 453px;
  height: 256px;

  bottom: 370px;
  left: 70px;

}

.priority-imunify-img {
  position: relative;
  z-index: 2;
  right: 30px;
  width: 130px;
  height: 130px;

  bottom: 740px;
}

.priority-speed-img {
  position: relative;
  z-index: 2;
  width: 130px;
  height: 130px;

  bottom: 740px;
  left: 300px;


}

