body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

* a {
  text-decoration: none;
  color: white;
}

* hr {
  opacity: 0.5;
  margin: 40px 0;
}

.layanan-wrapper {
  width: 100%;
  padding: 70px 0 65px;
  background: #f6fbff;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 33px;
  font-weight: bold;
}

.card-column-wrapper {
  align-content: center;
  justify-items: center;
  width: 100%;
}

.card {
  margin-left: 15px;
  margin-right: 15px;
  background: #fff;
  flex: 25%;
  display: inline-block;
  transition: all 0.4s;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  text-align: center;
  padding: 55px 20px;
}

.layanan {
  height: 300px;
  margin-bottom: 50px;
}

.layanan figcaption {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  font-weight: bold;
}

.layanan-deskripsi {
  font-size: 14px;
  color: rgba(58, 65, 102, 0.7);
  margin-bottom: 24px;
}

.layanan-price-intro {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.7;
}

.layanan-price {
  font-family: NunitoSansBold, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.layanan-row {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 510px;
  text-align: left;
  align-items: center;
  padding: 25px;
  
}

.layanan-row figcaption {
  font-family: NunitoSansBold, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.layanan-row a {
  color: #007aff;
}